Deliverable 7 - Python Programming

In [1]:
#import pandas
import pandas as pd

Create a Python program that compiles the sequence of the first non-negative n even, odd, and Fibonacci numbers.

In [2]:
#    Ask the user to enter an integer value greater than 0.
n = int(input("Enter an non-negative integer number: "))

Enter an non-negative integer number: 0

In [3]:
# Use a conditional statement to check the userâ€™s entry is greater than 0

# I was going to go crazy with a while statement and try's 
# BUT THEN I realized a simple while will do
# #almostFumbled
while n <= 0:
  print("Amount is not greater than zero. \n Try Again")
  n = int(input("Enter an non-negative integer number: "))

Amount is not greater than zero.
 Try Again
Enter an non-negative integer number: -1
Amount is not greater than zero.
 Try Again
Enter an non-negative integer number: -2
Amount is not greater than zero.
 Try Again
Enter an non-negative integer number: -3
Amount is not greater than zero.
 Try Again
Enter an non-negative integer number: 28

In [4]:
# Create a list for each sequence, and store the numbers of sequences. 
# Lists should have the same length,  n (user's entry).
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [5]:
# Display your results in a data frame format.

fib_dict = {'Even':even, 'Odd': odd, 'Fibonacci': fibo}

fib_df = pd.DataFrame(data = fib_dict)

fib_df

    Even  Odd  Fibonacci
0      0    1          0
1      2    3          1
2      4    5          1
3      6    7          2
4      8    9          3
5     10   11          5
6     12   13          8
7     14   15         13
8     16   17         21
9     18   19         34
10    20   21         55
11    22   23         89
12    24   25        144
13    26   27        233
14    28   29        377
15    30   31        610
16    32   33        987
17    34   35       1597
18    36   37       2584
19    38   39       4181
20    40   41       6765
21    42   43      10946
22    44   45      17711
23    46   47      28657
24    48   49      46368
25    50   51      75025
26    52   53     121393
27    54   55     196418